<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greet</title>
    <link rel="stylesheet" href="stylesheets/stylesheet.css" />
  </head>
  <body class="background">
    <div>
      <h1>Hello my friend</h1>
    </div>
    <div class="logout">
      <a class="logoutbutton" href="/delete" >Logout</a>
    </div>
  </body>
</html>
