<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp Page</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div>
      <h1>Hello this is the SignUp</h1>
    </div class="flex">
    <form action="/signup" method="post">
      <div>
        <div>
          <label for="username">Username: </label>
          <input type="text" placeholder="username" id="username" />
        </div>
        <div>
          <label for="email">Email: </label>
          <input type="email" placeholder="email" id="email" />
        </div>
        <div>
          <label for="password">password: </label>
          <input type="text" placeholder="password" id="password" />
        </div>
      </div>
    </form>
  </body>
</html>
